<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container w-5/6 ">

    <header class="flex flex-col gap-3">
      <h1 class="text-2xl font-semibold">Discover our products</h1>
      <div class=" flex  align-middle gap-16">
        <div>
          <a href="/books" class="flex flex-col justify-center gap-4">
            <img src="assets/books.jpeg" alt="Books" class="rounded-xl h-50">
            <span class="m-auto">Books</span>
          </a>
        </div>

        <div>
          <a href="/stationery" class="flex flex-col justify-center gap-4">
            <img src="assets/stationery.jpeg" alt="Books" class="rounded-xl h-50">
            <span class="m-auto">stationery</span>
          </a>
        </div>

        <div>
          <a href="/arts&crafts" class="flex flex-col justify-center gap-4">
            <img src="assets/arts and crafts.jpeg" alt="Books" class="rounded-xl h-50">
            <span class="m-auto">Arts & crafts</span>
          </a>
        </div>

      </div>
    </header>

    <main class="mt-10">
      <div>
        <h1 class="text-2xl font-semibold">Deal of the day</h1>

        <div class="border-2 border-black  mt-2 flex">
          <section class=" border-black border-r-2 w-1/2 p-10">
            <img src="assets/bainuma halak book.jpeg" alt="Bainuma alak" class="w-2/3 m-auto">
          </section>

          <section class="p-4 w-1/2">
            <h1 class="text-3xl font-semibold">A boy without a Name</h1>
            <span><strong>by Idries Shah (Author), Mona(Ill.) Caron (Author)</strong></span>
            <p>
              (Bilingual English-Pashto edition) On the day a boy is born, his parents are visited by a wise man who
              tells them, "This is a very, very important boy, and I'm going to give him something marvelous one day,
              but I will have to give him his name first. So please don't give him a name yet." So they named the boy
              Benaam, which means "nameless." The story tells how he seeks and eventually finds his own true name, and
              how he also gives away an old dream that he doesn't want - and gets a wonderful new dream. 
            </p>
              
  <div class="m-2 text-lg">
    <div class="mb-4">
        Price: <span class="font-semibold">Rs 599</span>
    </div>
    <div class="mb-4">
        Quantity: <span class="font-semibold">__</span>
    </div>
    <div class="flex gap-4">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded mr-2">Add to cart</button>
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-8 rounded">Buy now</button>
    </div>
</div>


          </section>
        </div>
      </div>
      <h1 class="text-2xl font-semibold">Trending...</h1>


    </main>



  </div>
</body>

</html>